:root {
    --title-bar-color: #e34431;
    --task-color: #eeeeee;
    --side-bar-color: #eeeeee;
    --white: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
}

/* --------------------------------- SELECTORS --------------------------------- */
body {
    font-family: Arial, "sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul {
    list-style: none;
}

.container, .form-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 1fr 9fr;
    column-gap: 1px;
    background: black;
}

.container {
    width: 1320px;
    height: 720px;
}

/* --------------------------------- HEADER --------------------------------- */
.header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    background: var(--title-bar-color);
    font-size: 36px;
}

/* --------------------------------- SIDEBAR --------------------------------- */
.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
    background: var(--side-bar-color);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    border-radius: 50px;
    height: 20px;
    width: 20px;
}

.new-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    border-radius: 50px;
    height: 60px;
    width: 60px;
}

.home, .today, .week, .project-item {
    cursor: pointer;
}

.project-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects {
    padding-left: 20px;
}

.project-item {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* --------------------------------- CONTENT --------------------------------- */
.content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: var(--white);
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: var(--task-color);
}

.task-check {
    display: flex;
    gap: 15px;
}

.task-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-details-button {

}

/* --------------------------------- DIALOG --------------------------------- */
.form-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 800px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    background: pink;
    font-size: 36px;
    justify-content: space-between;
}

.form-sidebar {
    padding-top: 20px;
    background: var(--side-bar-color);
}

.dialog-content {
    padding: 20px;
}

.make-todo {
    display: flex;
}

.dialog-content #title {
    border: transparent;
    width: 60%;
}

.dialog-content #details {
    border: transparent;
    width: 90%;
}

.submit-todo-button {
    align-self: flex-end;
}

.submit-todo, .submit-project, .submit-note {
    cursor: pointer;
}